<launch>
  <arg name="robot_id" default="/r3001415b5" />
  <arg name="map" default="v/mmzfhnol9ro6/map" />
  <arg name="laser_topic" default="scan_front_raw" />

  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      output="screen" name="laser_filter">
    <rosparam command="load" file="$(find laser_filters)/examples/platform_filter.yaml" />
    <param name="laser_frame" value="$(arg robot_id)/base_front_laser_link"/>
    <param name="map_frame" value="$(arg map)"/>
    <param name="laser_topic" value="$(arg robot_id)/$(arg laser_topic)"/>
    <remap from="/tf" to="$(arg robot_id)/tf" />
    <remap from="/tf_static" to="$(arg robot_id)/tf_static" />
    <remap from="/map" to="v/mmzfhnol9ro6/map" />
  </node>
</launch>